/* CSSreset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.container {
    width: 60%;
    margin: 0 auto;
    /* border: 2px dashed red; */
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
}

.buttons {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    padding: 25px;
    width: 100%;
}

.button-task {
    background-color: rgb(30, 144, 255);
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.button-section {
    background-color: white;
    color: grey;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid grey;
}

.tick-entity {
    display: inline;
    border: 1px solid rgb(33, 145, 33);
    color: rgb(33, 145, 33);
    border-radius: 100%;
    margin: 3px 0;
}

.category-button {
    display: inline;
    background-color: rgb(69, 171, 234);
    color: white;
    padding: 7px;
    border-radius: 20px;
}

/* Header */
h1 {
    display: inline;
    font-size: 45px;
    font-weight: 800;
    vertical-align: middle;
}

.logo {
    padding: 20px;
}

#logo {
    width: 70px;
    vertical-align: middle;
}

header {
    background-color: white;
}

/* Sections */
.tasks {
    padding: 20px;
}

h3 {
    padding-bottom: 15px;
}

.new-task-row {
    display: block;
    padding: 13px 0;
}